@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.steez-logo {
    width: 100%;
    max-width: 30px;
    scale: 0.065;
    margin-top: -10px;
}

.top-buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    margin-left: 35px;
    margin-top: -270px;
    gap: 40px;
}

#about, #contact, #joinTop {
    font-size: 17.5px;
    font-weight: 500;
    width: 100%;
    max-width: 100px;
    margin-left: 15px;
    font-family: var(--font-jost);
    color: var(--color-gray-100);
    border: none;
    background: none;
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    text-decoration: none;
    cursor: pointer;
}
@media (max-width: 500px) {
    .top-buttons {
        margin-left: 10px;
        gap: 30px;
    
    }
    #about, #contact, #joinTop {
        margin-left: 5px;
    }
}
#about:hover, #contact:hover, #joinTop:hover {
    color: #4b4b4b;
}

.st-fashion-networking {
    color: #5C5C5C;
    text-align: center;
    margin-top: 300px;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    animation: fadeInAnimation ease 4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.motto {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    gap: 25px;
}
.join-motto-rec {
    width: 100%;
    max-width: 105px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 10px;
    background: linear-gradient(117deg, #85b9eb 0%, #c5e9ee 97.43%);
    display: flex;
    align-items: center;
    justify-content: center;
    animation: fadein ease 2s;
}
.join-motto {
    position: relative;
    color: #1b5780;
    text-align: center;
    font-family: Noto Sans;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    animation: fadein ease 2s;
}
.create-motto-rec {
    width: 100%;
    max-width: 150px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 10px;
    background: linear-gradient(117deg, #97eca3 0%, #c5eec7 97.43%);
    display: flex;
    align-items: center;
    justify-content: center;
    animation: fadein ease 4s;
}
.create-motto {
    position: relative;
    color: #288d3e;
    text-align: center;
    font-family: Noto Sans;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    animation: fadein ease 4s;
}
.connect-motto-rec {
    width: 100%;
    max-width: 170px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 10px;
    background: linear-gradient(117deg, #eca897 0%, #eed1c5 97.43%);
    display: flex;
    align-items: center;
    justify-content: center;
    animation: fadein ease 6s;
}
.connect-motto {
    position: relative;
    color: #862922;
    text-align: center;
    font-family: Noto Sans;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    animation: fadein ease 6s;
}
@media (max-width: 500px) {
    .motto{
        gap: 10px;
    }
    .join-motto {
        font-size: 25px;
    }
    .create-motto {
        font-size: 25px;
    }
    .connect-motto {
        font-size: 25px;
    }
    .join-motto-rec {
        max-width: 75px;
    }
    .create-motto-rec {
        max-width: 100px;
    }
    .connect-motto-rec {
        max-width: 125px;
    }
}
.teamText {
    color: #2E2E2E;
    text-align: center;
    font-family: Montserrat;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 125px;
}

.got-it {
    color: #439668;
    text-align: center;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 25px;
    display: none;
}
.desktop-1 {
    width: 100%;
    position: relative;
    background: linear-gradient(180deg, #ffffff, #e2e2e2, #f1f1f1);
    height: 1850px;
    overflow: hidden;
    text-align: center;
    font-size: var(--font-size-xl);
    color: var(--color-black);
    font-family: var(--font-montserrat);
}