@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
.steez {
    position: absolute;
    top: 18px;
    left: 50px;
    font-size: 25px;
    font-weight: 500;
    font-family: var(--font-jost);
    animation: fadeInAnimation ease 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
#about {
    position: absolute;
    top: 25px;
    left: 150px;
    font-size: 17.5px;
    font-weight: 500;
    font-family: var(--font-jost);
    color: var(--color-gray-100);
    border: none;
    background: none;
    animation: fadeInAnimation ease 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
#about:hover {
    color: #4b4b4b;
}
#contact {
    position: absolute;
    top: 26px;
    left: 225px;
    font-size: 17.5px;
    font-weight: 500;
    font-family: var(--font-jost);
    color: var(--color-gray-100);
    border: none;
    background: none;
    animation: fadeInAnimation ease 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    text-decoration:none;
}
#contact:hover {
    color: #4b4b4b;
}
#joinTop {
    position: absolute;
    top: 25px;
    left: 325px;
    font-size: 17.5px;
    font-weight: 500;
    font-family: var(--font-jost);
    color: var(--color-gray-100);
    border: none;
    background: none;
    animation: fadeInAnimation ease 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    text-decoration:none;
}
#joinTop:hover {
    color: #4b4b4b;
}
.st-fashion-networking {
    color: #5C5C5C;
    text-align: center;
    margin-top: 425px;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    animation: fadeInAnimation ease 12s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.desktop-1 {
    width: 100%;
    position: relative;
    background: linear-gradient(180deg, #ffffff, #e2e2e2, #f1f1f1);
    height: 1900px;
    overflow: hidden;
    text-align: center;
    font-size: var(--font-size-xl);
    color: var(--color-black);
    font-family: var(--font-montserrat);
}

